Repository UVicMarketplace/marketplace, changes with the owners that .github/CODEOWNERS names for each.
All owners: @UVicMartletplace/ResOps, @UVicMartletplace/Algorithms/Recommend, @UVicMartletplace/Algorithms/Search, @UVicMartletplace/Backend, @UVicMartletplace/Frontend

.github/CODEOWNERS:

# Global owners
* @UVicMartletplace/ResOps

# Folder specific team ownership
/.github/                  @UVicMartletplace/ResOps
/apps/algorithm/recommend/ @UVicMartletplace/Algorithms/Recommend
/apps/algorithm/search/    @UVicMartletplace/Algorithms/Search
/apps/backend/             @UVicMartletplace/Backend
/apps/data/                @UVicMartletplace/ResOps
/apps/frontend/            @UVicMartletplace/Frontend
/apps/proxy/               @UVicMartletplace/ResOps

# Specific filetype ownership
**/Dockerfile @UVicMartletplace/ResOps

Moving around components
  apps/frontend/src/App.tsx
  apps/frontend/src/pages/messages/ConversationsSidebar.tsx
  apps/frontend/src/pages/messages/MessageSendBox.tsx
  apps/frontend/src/pages/messages/Messages.tsx
  apps/frontend/src/types.ts
  apps/frontend/tests/component_tests/ViewListing.cy.tsx
Owners: @UVicMartletplace/Frontend

fixed error
  apps/frontend/src/pages/messages/Messages.tsx
Owners: @UVicMartletplace/Frontend

Messages sidebar scaffolding
  apps/frontend/src/pages/messages/ConversationsSidebar.tsx
  apps/frontend/src/pages/messages/Messages.tsx
  apps/frontend/src/styles/pageStyles.tsx
Owners: @UVicMartletplace/Frontend

Scaffolding message routes
  apps/backend/lib/src/auth.ts
  apps/backend/lib/src/pagination.ts
  apps/backend/message/package-lock.json
  apps/backend/message/package.json
  apps/backend/message/src/createMessage.ts
  apps/backend/message/src/getMessageThreads.ts
  apps/backend/message/src/getMessages.ts
  apps/backend/message/src/index.ts
Owners: @UVicMartletplace/Backend

integrated send message endpoint
  apps/frontend/src/pages/messages/Messages.tsx
Owners: @UVicMartletplace/Frontend

progress on message backend
  apps/backend/message/src/createMessage.ts
  apps/backend/message/src/index.ts
  apps/frontend/src/pages/messages/MessageSendBox.tsx
  apps/frontend/src/pages/messages/Messages.tsx
Owners: @UVicMartletplace/Backend, @UVicMartletplace/Frontend

Messages cypress config + basic tests
  apps/backend/message/Dockerfile
  apps/backend/message/cypress.config.ts
  apps/backend/message/cypress/e2e/createMessageTest.cy.ts
  apps/backend/message/cypress/e2e/getMessageThreadsTest.cy.ts
  apps/backend/message/cypress/e2e/getMessagesTest.cy.ts
  apps/backend/message/cypress/fixtures/example.json
  apps/backend/message/cypress/tsconfig.json
  apps/backend/message/jest.config.ts
  apps/backend/message/package-lock.json
  apps/backend/message/package.json
  apps/backend/message/src/createMessage.ts
  apps/backend/message/src/index.test.ts
  docker-compose.yml
Owners: @UVicMartletplace/ResOps, @UVicMartletplace/Backend

wrote (untested) message endpoints, added tmp auth middleware
  apps/backend/lib/jest.config.ts
  apps/backend/lib/package-lock.json
  apps/backend/lib/package.json
  apps/backend/lib/src/auth.ts
  apps/backend/lib/src/example.test.ts
  apps/backend/lib/src/pagination.ts
  apps/backend/message/Dockerfile
  apps/backend/message/cypress/e2e/createMessageTest.cy.ts
  apps/backend/message/cypress/e2e/getMessageThreadsTest.cy.ts
  apps/backend/message/cypress/e2e/getMessagesTest.cy.ts
  apps/backend/message/cypress/tsconfig.json
  apps/backend/message/src/createMessage.ts
  apps/backend/message/src/getMessageThreads.ts
  apps/backend/message/src/getMessages.ts
  apps/backend/message/src/index.ts
  apps/backend/message/tsconfig.json
  docker-compose.yml
Owners: @UVicMartletplace/Backend, @UVicMartletplace/ResOps

All basic messaging functionality should be done (in theory, its all untested)
  apps/backend/message/cypress/e2e/createMessageTest.cy.ts
  apps/backend/message/src/createMessage.ts
  apps/backend/message/src/getMessageThreads.ts
  apps/backend/message/src/getMessages.ts
  apps/frontend/src/pages/messages/Messages.tsx
Owners: @UVicMartletplace/Backend, @UVicMartletplace/Frontend

messages page mobile functionality, styling, and edge case handling
  apps/backend/message/cypress/e2e/createMessageTest.cy.ts
  apps/backend/message/cypress/e2e/getMessageThreadsTest.cy.ts
  apps/backend/message/cypress/e2e/getMessagesTest.cy.ts
  apps/frontend/src/pages/messages/ConversationsSidebar.tsx
  apps/frontend/src/pages/messages/Messages.tsx
  apps/frontend/src/styles/pageStyles.tsx
  apps/frontend/src/types.ts
Owners: @UVicMartletplace/Backend, @UVicMartletplace/Frontend

Message endpoints actually (almost) integrated!!
  apps/backend/lib/src/auth.ts
  apps/backend/lib/src/pagination.ts
  apps/backend/message/Dockerfile
  apps/backend/message/cypress.config.ts
  apps/backend/message/src/getMessageThreads.ts
  apps/backend/message/src/getMessages.ts
  apps/backend/message/src/index.ts
  apps/frontend/src/pages/messages/Messages.tsx
  apps/frontend/src/types.ts
Owners: @UVicMartletplace/Backend, @UVicMartletplace/ResOps, @UVicMartletplace/Frontend

Messaging fully functional! (not realtime)
  apps/backend/lib/src/auth.ts
  apps/backend/message/src/createMessage.ts
  apps/backend/message/src/getMessageThreads.ts
  apps/backend/message/src/getMessages.ts
  apps/data/database/populatedb.sql
  apps/frontend/src/components/InfiniteScroll.tsx
  apps/frontend/src/hooks/usePaginatedArrayReducer.ts
  apps/frontend/src/pages/messages/ConversationsSidebar.tsx
  apps/frontend/src/pages/messages/MessageSendBox.tsx
  apps/frontend/src/pages/messages/Messages.tsx
Owners: @UVicMartletplace/Backend, @UVicMartletplace/ResOps, @UVicMartletplace/Frontend

formatted and fixed failing frontend test
  apps/backend/lib/src/pagination.ts
  apps/backend/message/src/createMessage.ts
  apps/backend/message/src/getMessageThreads.ts
  apps/backend/message/src/getMessages.ts
  apps/backend/message/src/index.ts
  apps/frontend/tests/component_tests/SearchBar.cy.tsx
Owners: @UVicMartletplace/Backend, @UVicMartletplace/Frontend

fixed another warning
  apps/backend/lib/src/auth.ts
Owners: @UVicMartletplace/Backend

ran format again
  apps/backend/lib/src/auth.ts
  apps/frontend/src/components/InfiniteScroll.tsx
  apps/frontend/src/hooks/usePaginatedArrayReducer.ts
  apps/frontend/src/pages/messages/Messages.tsx
Owners: @UVicMartletplace/Backend, @UVicMartletplace/Frontend

fixed tests failing on ci
  apps/backend/lib/cypress.config.ts
  apps/backend/message/cypress/e2e/createMessageTest.cy.ts
  apps/backend/message/cypress/e2e/getMessageThreadsTest.cy.ts
  apps/backend/message/cypress/e2e/getMessagesTest.cy.ts
Owners: @UVicMartletplace/Backend

fixed mistake
  apps/backend/lib/cypress.config.ts
  apps/backend/message/cypress/e2e/createMessageTest.cy.ts
  apps/backend/message/cypress/e2e/getMessageThreadsTest.cy.ts
  apps/backend/message/cypress/e2e/getMessagesTest.cy.ts
Owners: @UVicMartletplace/Backend

Fixed failing tests
  apps/backend/message/cypress/e2e/getMessagesTest.cy.ts
  test.sh
Owners: @UVicMartletplace/Backend, @UVicMartletplace/ResOps

message tests should finally pass
  apps/backend/message/cypress/e2e/getMessagesTest.cy.ts
Owners: @UVicMartletplace/Backend

fixed dumb stupid javascript issue
  apps/backend/message/cypress/e2e/createMessageTest.cy.ts
  apps/backend/message/cypress/e2e/getMessagesTest.cy.ts
Owners: @UVicMartletplace/Backend

fixed another broken test :(
  apps/backend/message/cypress/e2e/createMessageTest.cy.ts
Owners: @UVicMartletplace/Backend

attempting to make lib tests pass
  apps/backend/lib/cypress.config.ts
  test.sh
Owners: @UVicMartletplace/Backend, @UVicMartletplace/ResOps

fix test + build stages
  apps/frontend/src/pages/messages/Messages.tsx
  apps/frontend/tests/component_tests/SearchBar.cy.tsx
  apps/frontend/tests/component_tests/ViewListing.cy.tsx
Owners: @UVicMartletplace/Frontend

working on making linter happy
  apps/frontend/src/components/InfiniteScroll.tsx
  apps/frontend/src/hooks/usePaginatedArrayReducer.ts
  apps/frontend/src/pages/messages/MessageSendBox.tsx
  apps/frontend/src/pages/messages/Messages.tsx
  apps/frontend/src/styles/pageStyles.tsx
Owners: @UVicMartletplace/Frontend

format
  apps/frontend/src/components/InfiniteScroll.tsx
  apps/frontend/src/hooks/usePaginatedArrayReducer.ts
  apps/frontend/src/pages/messages/Messages.tsx
Owners: @UVicMartletplace/Frontend

Removed unnecessary temporary 'auth' middleware
  apps/backend/lib/src/auth.ts
  apps/backend/message/src/index.ts
Owners: @UVicMartletplace/Backend

Refactoring and tidying up messages component
  apps/frontend/src/hooks/usePaginatedArrayReducer.ts
  apps/frontend/src/pages/messages/Message.tsx
  apps/frontend/src/pages/messages/Messages.tsx
Owners: @UVicMartletplace/Frontend

format
  apps/backend/message/src/index.ts
Owners: @UVicMartletplace/Backend

Fixed useEffect dependency error
  apps/frontend/src/pages/messages/Messages.tsx
Owners: @UVicMartletplace/Frontend

Moving pagination to another branch
  apps/backend/lib/src/pagination.ts
  apps/backend/message/src/getMessages.ts
  apps/backend/message/src/index.ts
Owners: @UVicMartletplace/Backend

Added pagination middleware
  apps/backend/lib/package-lock.json
  apps/backend/lib/package.json
  apps/backend/lib/src/pagination.ts
Owners: @UVicMartletplace/Backend

Modified docker config so services can use lib
  apps/backend/listing/Dockerfile
  apps/backend/message/Dockerfile
  apps/backend/review/Dockerfile
  apps/backend/user/Dockerfile
  docker-compose.yml
Owners: @UVicMartletplace/ResOps

Fixed infinite loop
  apps/frontend/src/hooks/usePaginatedArrayReducer.ts
  apps/frontend/src/pages/messages/Messages.tsx
Owners: @UVicMartletplace/Frontend

Message queries are working!
  apps/backend/message/src/createMessage.ts
  apps/backend/message/src/getMessageThreads.ts
  apps/backend/message/src/getMessages.ts
  apps/backend/message/src/index.ts
  apps/data/database/populatedb.sql
Owners: @UVicMartletplace/Backend, @UVicMartletplace/ResOps

Thread selection now works as expected
  apps/frontend/src/hooks/usePaginatedArrayReducer.ts
  apps/frontend/src/pages/messages/ConversationsSidebar.tsx
  apps/frontend/src/pages/messages/Messages.tsx
Owners: @UVicMartletplace/Frontend

cleanup
  apps/backend/.gitignore
Owners: @UVicMartletplace/Backend

fixed test which broke because test database data changed
  apps/backend/message/cypress/e2e/getMessagesTest.cy.ts
Owners: @UVicMartletplace/Backend

format
  apps/backend/message/src/getMessageThreads.ts
  apps/backend/message/src/getMessages.ts
Owners: @UVicMartletplace/Backend

appeasing the linter + formatting
  apps/frontend/src/pages/messages/Messages.tsx
Owners: @UVicMartletplace/Frontend

working auth
  apps/backend/lib/package-lock.json
  apps/backend/lib/package.json
  apps/backend/lib/src/auth.ts
  apps/backend/user/src/index.ts
  apps/backend/user/src/login.ts
Owners: @UVicMartletplace/Backend
