Repository UVicMarketplace/marketplace, changes with the owners that .github/CODEOWNERS names for each.
All owners: @UVicMartletplace/ResOps, @christianbookout, @arunalex62, @GDeane, @emilasuska, @UVicMartletplace/Backend, @UVicMartletplace/Frontend

Changed tests to all pass authorization as a header rather than as a parameter
  apps/algorithm/search/src/test_server.py
Owners: @GDeane, @emilasuska

Changed endpoints to use authorization string as a header rather than as a parameter
  apps/algorithm/search/src/server.py
Owners: @GDeane, @emilasuska

Added test to test_server.py to test reindex-listing-created endpoint
  apps/algorithm/search/src/test_server.py
Owners: @GDeane, @emilasuska

Implemented reindex-listing-created endpoint
  apps/algorithm/search/src/server.py
Owners: @GDeane, @emilasuska

Added two tests for reindexing based on creating listings endpoint
  apps/algorithm/search/src/test_server.py
Owners: @GDeane, @emilasuska

Updated server.py with implementations for reindexing functions. Also added Location BaseModel.
  apps/algorithm/search/src/server.py
Owners: @GDeane, @emilasuska

Made test pass
  apps/algorithm/search/src/test_server.py
Owners: @GDeane, @emilasuska

Added test for too large latitude
  apps/algorithm/search/src/test_server.py
Owners: @GDeane, @emilasuska

Added test for out of bounds longitude
  apps/algorithm/search/src/test_server.py
Owners: @GDeane, @emilasuska

Added test to index a listing and then search
  apps/algorithm/search/src/test_server.py
Owners: @GDeane, @emilasuska

Added corresponding tests for editing and deleting an index
  apps/algorithm/search/src/test_server.py
Owners: @GDeane, @emilasuska

Added additional input validation tests for listing-edited endpoint
  apps/algorithm/search/src/test_server.py
Owners: @GDeane, @emilasuska

Added additional input validation test for listing-deleted endpoint
  apps/algorithm/search/src/test_server.py
Owners: @GDeane, @emilasuska

Created properly mapped index
  apps/algorithm/search/src/server.py
Owners: @GDeane, @emilasuska

Removed duplicate test
  apps/algorithm/search/src/test_server.py
Owners: @GDeane, @emilasuska

create reset password test
  apps/backend/user/cypress/e2e/resetPassowrdTest.ts
Owners: @UVicMartletplace/Backend

base service for password reset
  apps/backend/user/src/index.ts
  apps/backend/user/src/resetPassword.ts
Owners: @UVicMartletplace/Backend

npm run format
  apps/backend/user/src/resetPassword.ts
Owners: @UVicMartletplace/Backend

Format
  apps/backend/message/src/index.ts
Owners: @UVicMartletplace/Backend

Fix lib tests
  apps/backend/lib/src/auth.test.ts
  apps/backend/lib/src/auth.ts
  apps/backend/lib/src/example.test.ts
  apps/backend/lib/src/example.ts
  apps/backend/user/src/index.ts
Owners: @UVicMartletplace/Backend

Formatting + lint
  apps/backend/lib/src/auth.test.ts
  apps/backend/lib/src/auth.ts
Owners: @UVicMartletplace/Backend

Give all services the auth pubkey
  apps/backend/lib/src/auth.ts
  docker-compose.yml
Owners: @UVicMartletplace/Backend, @UVicMartletplace/ResOps

Implement auth on all other services
  apps/backend/listing/package-lock.json
  apps/backend/listing/package.json
  apps/backend/listing/src/index.ts
  apps/backend/message/package-lock.json
  apps/backend/message/package.json
  apps/backend/message/src/index.ts
  apps/backend/review/package-lock.json
  apps/backend/review/package.json
  apps/backend/review/src/index.ts
Owners: @UVicMartletplace/Backend

Working for user service
  apps/backend/lib/src/auth.ts
  apps/backend/user/package-lock.json
  apps/backend/user/package.json
  apps/backend/user/src/index.ts
  apps/backend/user/src/login.ts
  docker-compose.yml
Owners: @UVicMartletplace/Backend, @UVicMartletplace/ResOps

Fix linting
  apps/backend/listing/src/createListing.ts
  apps/backend/listing/src/index.ts
  apps/backend/listing/src/updateListing.ts
  apps/backend/review/src/index.ts
Owners: @UVicMartletplace/Backend

Remove merge commit markers
  apps/backend/user/src/index.ts
Owners: @UVicMartletplace/Backend

Remove comments from Scott
  apps/backend/lib/src/auth.ts
Owners: @UVicMartletplace/Backend

Add auth to all endpoints
  apps/backend/listing/src/createListing.ts
  apps/backend/listing/src/deleteListing.ts
  apps/backend/listing/src/index.ts
  apps/backend/listing/src/updateListing.ts
  apps/backend/review/src/createReview.ts
  apps/backend/review/src/deleteReview.ts
  apps/backend/review/src/getReview.ts
  apps/backend/review/src/index.ts
  apps/backend/review/src/updateReview.ts
  apps/backend/user/src/deleteUser.ts
  apps/backend/user/src/getUser.ts
  apps/backend/user/src/index.ts
  apps/backend/user/src/logout.ts
  apps/backend/user/src/patchUser.ts
Owners: @UVicMartletplace/Backend

[Auth] Implement authentication
  apps/backend/lib/package-lock.json
  apps/backend/lib/package.json
  apps/backend/lib/src/auth.test.ts
  apps/backend/lib/src/auth.ts
Owners: @UVicMartletplace/Backend

Fix lib ci tests running infinitely
  apps/backend/lib/package.json
Owners: @UVicMartletplace/Backend

Began work on messages frontend
  apps/backend/.gitignore
  apps/frontend/package-lock.json
  apps/frontend/package.json
  apps/frontend/src/pages/Messages.tsx
  apps/frontend/src/styles/colors.tsx
  apps/frontend/src/styles/pageStyles.tsx
Owners: @UVicMartletplace/Backend, @UVicMartletplace/Frontend

WIP messages page layout
  apps/frontend/src/pages/Messages.tsx
  apps/frontend/src/styles/pageStyles.tsx
Owners: @UVicMartletplace/Frontend

Progress on fixing infinite scroll
  apps/frontend/src/styles/pageStyles.tsx
Owners: @UVicMartletplace/Frontend

Messages page basic functionality almost works
  apps/frontend/src/pages/Messages.tsx
  apps/frontend/src/styles/pageStyles.tsx
Owners: @UVicMartletplace/Frontend

Message page basic frontend functionality done
  apps/frontend/src/components/InfiniteScroll.tsx
  apps/frontend/src/pages/Messages.tsx
  apps/frontend/src/styles/pageStyles.tsx
Owners: @UVicMartletplace/Frontend

enter to submit
  apps/frontend/src/pages/Messages.tsx
Owners: @UVicMartletplace/Frontend

uninstalled old component
  apps/frontend/package-lock.json
  apps/frontend/package.json
Owners: @UVicMartletplace/Frontend

fixed global body style
  apps/frontend/src/App.css
  apps/frontend/src/App.tsx
Owners: @UVicMartletplace/Frontend

Made more efficient, minor styling
  apps/frontend/src/pages/Messages.tsx
  apps/frontend/src/styles/pageStyles.tsx
Owners: @UVicMartletplace/Frontend

refactor
  apps/frontend/src/components/InfiniteScroll.tsx
Owners: @UVicMartletplace/Frontend

.github/CODEOWNERS:

# Global owners
* @UVicMartletplace/ResOps

# Folder specific team ownership
/.github/                  @UVicMartletplace/ResOps
/apps/algorithm/recommend/ @christianbookout @arunalex62
/apps/algorithm/search/    @GDeane @emilasuska
/apps/backend/             @UVicMartletplace/Backend
/apps/data/                @UVicMartletplace/ResOps
/apps/frontend/            @UVicMartletplace/Frontend
/apps/proxy/               @UVicMartletplace/ResOps

# Specific filetype ownership
**/Dockerfile @UVicMartletplace/ResOps
